@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World!</h1>
    <p> My 1st asp web app <a href="https://www.google.com">Coogle Link</a>.</p>
</div>
